<cfoutput>
	<h1 class="title">Edit URL</h1>
	<form action="#event.buildLink( 'urls.#prc.data.shortURI#')#" method="POST">
		<input type="hidden" name="_method" value="PUT" />
		<cfinclude template="form.cfm" />
	</form>
</cfoutput>